/* PRIMARY THEME COLORS */
:root {
    --background:#FFFFFF ;
    --subText:#B2B2B4  ;
    --Button: #0079FE ;
    --fourth: ;
    --fith: ;
    --mainText: #000000;
    --Shadow: 6px 6px 46px -1px rgba(153,153,153,0.50);
}




/* IPHONE X and 6Plus and 6 */
@media only screen and (max-width: 450px) {
/* .userComponents {
    height: auto;
    width: 100vw;
    background-color: yellow;
    display: flex;
    flex-direction: column;
} */
/* .headerImg {
    display: flex;
    max-height: 40px;
}
img {
    max-height: 50px;
} */
/* .MenuBar {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
position: fixed;
bottom: 0;
width: 100%;
height: 5%;
font-size: 1.5em;
background-color: red;

} */
/* MENU BAR START */
#UserMain{
    /* position: static; */
    /* border: solid black; */
    max-height: 94vh;
    /* background-color: yellow; */
}
.MenuBar{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    /* background-color: yellow; */
    opacity: 1;
    background-color: #f9f9f9;
    z-index: 5;
}
.MenuBar p {
    font-size: 120%;
    text-decoration: none;
    /* border: black solid; */
    height: 100%;
    width: 100%;
    color: var(--mainText);
}
.Menu-Button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.Menu-Button img {
    margin: 0px;
}
.Menu-Button p {
    margin: 0px;
    padding-bottom: 0;
}
.MenuBar img {
    max-height: 20px;
}

/* MENU BAR END */
/* iPhone Header START */
.iPhonebar {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 2vh;
    /* background-color: yellow; */
    opacity: 1;
    background-color: #f9f9f9;
    color: black;
    z-index: 5;
}
.iPhonebar img {
    padding-top: 2.5px;
    height: 15px;
}
.barTime {
    color: var(--primary)
}
/* iPhone Header END */
/* .NewGame h3 {
    justify-content: center;
} */
/* TODAY PAGE START */
/* TODAY VIEW START */

.TodayViewPage {
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2vh;
}
.TodayViewHeader {
    height: 12vh;
    /* width: 100vw; */
    /* padding-bottom: 25%; */
}
.TodayViewBody {
    height: auto;
    width: 90vw;
}
/* TODAY VIEW END */
/* TODAY HEADER START */
.TodayHeader {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* flex */
    margin: 0;
    padding: 0;
}
.time-Profile {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--mainText)
    /* background-color: brown; */
}
.time-Profile img {
    height: 70px;
}
.TodayHeader h1 {
    background-color: var(--primary);
}
/* TODAY HEADER END */
/* TODAY NEW APP START */
.NewAdFree {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90vw;
    border-radius: 10%;
    /* height: auto; */
    /* max-height: 500vh; */
    -webkit-box-shadow: var(--Shadow);
    -moz-box-shadow: var(--Shadow);
    box-shadow: var(--Shadow);
    margin-bottom: 5%;
}

/* TODAY NEW APP END */
/* TODAY FEATURED PRODUCTIVITY START */
.FeaturedProd {
    display: flex;
    flex-direction: column;
    height: auto;
    -webkit-box-shadow: var(--Shadow);
    -moz-box-shadow: var(--Shadow);
    box-shadow: var(--Shadow);
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 10%;
}
.FTop {
    display: flex;
    flex-direction: row;
}
#FLogo {
max-height: 150px;
max-width: 150px;
/* padding-left: 5%; */
/* margin-left: 5%; */
border-radius: 15%;
}
.FSide {
display: flex;
/* flex-direction: column; */
margin-left: 5%;
font-size: 80%;
}
.FUnder {
    display: flex;
    justify-content: space-around;
    /* border: solid black; */
    align-items: center;
    font-size: 150%;
}
.FUnder img {
    height: 40px;
    margin: 0;
    margin-top: 2.5%;
}
.FUnder h3 {
    margin: 0;
    margin-top: 2.5%;
}

/* TODAY FEATURED PRODUCTIVITY END */
/* TODAY APP SWIRL START */
.SwirlWhole {
    display: flex;
    flex-direction: column;
    height: auto;
    -webkit-box-shadow: var(--Shadow);
    -moz-box-shadow: var(--Shadow);
    box-shadow: var(--Shadow);
    padding: 5%;
    margin-bottom: 25%;
    border-radius: 10%;
    padding-bottom: 10%;
}
.SwirlAppLogo {
    height: 100px;
    padding: 10px;
    border-radius: 15%;
}

/* TODAY APP SWIRL END */
/* TODAY PAGE END */
/* GAME PAGE START */
 
.GameHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.GameHeader img {
    max-height: 50px;
}



/* NEWAPPS START */
.newApps {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding-bottom: 0%;
    /* width: 90vw; */
    
}
.newGCard {
    display: flex;
    /* width: 100vw; */
    border-radius: 10%;
}
.newGCard > img {
    max-height: 150px;
    border-radius: 15%;
    padding: 5%;
}
.topGCard {
display: flex;
}
.topGCard img {
    max-height: 150px;
    border-radius: 15%;
    padding: 5%;
}
.nameGInfo {
    font-size: 65%;
}
.Blank {
    margin-right: 150px;
    height: 5px;
    /* width: 4014px; */
}
/* NEWAPPS END */
/* SUGGESTED GAMES START */
.SuggestedAppsComp {
    /* padding-bottom: 15%; */
    -webkit-box-shadow: var(--Shadow);
    -moz-box-shadow: var(--Shadow);
    box-shadow: var(--Shadow);
    border-radius: 7.5%;
    border-top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    /* align-items: center; */
}

.AppResultsComp {
    display: flex;
    width: 90vw;
    padding-bottom: 1%;
    border: solid 1px var(--subText);
    /* border-radius: 7.5%; */
    justify-content: space-between;
}
.AppResultsComp img {
    max-height: 70px;
    display: flex;
    align-self: center;
}
.AppResultsComp > img {
    max-height: 80px;
    border-radius: 15%;
    /* margin-right: 5%; */
    padding: 2%;
}
.name-Rate h1{
    margin: 0;
    font-size: 150%;
}



/* SUGGESTED GAMES END */
/* GAME PAGE END */
/* APP PAGE START */


/* APP PAGE END */
/* SEARCH START */
.SearchComp {
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5vh;
}

/* SEARCH END */
/* INDIVIDUAL APP PAGE START */


/* INDIVIDUAL APP PAGE END */
/* USER SETTINGS PAGE START */


/* USER SETTINGS PAGE END */
} 

/* Tablets */
@media only screen and (min-width: 451px) {

} 

